bcrypt==2.0.0
blinker==1.4
cffi==1.6.0
click==6.6
Flask==0.11.1
Flask-DebugToolbar==0.10.0
Flask-SQLAlchemy==2.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
numpy==1.11.0
pycparser==2.14
requests==2.10.0
six==1.10.0
SQLAlchemy==1.0.13
Werkzeug==0.11.10
