{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
    <link href="/static/css/homepage.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- <div class='container'> -->

<!--     <video id="video" width="770" height="882" onclick="play();" >
        <source src='/static/ShavingCharlie.mp4' type="video/mp4">
    </video> -->

    <div class='message'>
        <h3>the grooviest workout app for all seasons and for all reasons</h3>
        <ul>
            <li>exercises</li>
            <li>equipment</li>
            <li>workouts</li>
            <li>save, social, find?</li>
        </ul>
    </div>
<!-- </div> -->


<!-- FIXME insert bootstrap photo carousel  -->

{% endblock %}